@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
    
    height: 627px;
    width: 311px;
}
iframe#tela {
    position: relative;
    top: 79px;
    left: 21px;
    height: 473px;
    width: 269px ;
}
section#redes {
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
   
}
section#redes >a >img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
}
section#redes >a >img:hover {
    border: 2px solid rgba(255, 255, 255, 0.432);
    box-shadow: 2px 3px 10px rgba(255, 255, 255, 0.432);
    transform: translate(-2px , -2px);
    transition: transform 0.5s;
   }  