@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url("../imagens/fundo-madeira.jpg")  no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: rgb(121, 52, 52);
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 1000;
}
main {
    height: 100vh;
    position: relative;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
    background-size: cover;
    height: 564px; /*627px;*/
    width: 280px; /*311px;*/
}
iframe#tela {
    position: relative;
    top: 72px;
    left: 19px;
    height: 425px;
    width: 242px ;
}
section#redes {
    text-align: center;
    
   
}
section#redes >a >img {
    
    position: relative;
    width: 40px;
    border-radius: 50%;
    margin: 20px 5px 0px 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
}
section#redes >a >img:hover {
    
    /*border: 1px solid rgba(255, 255, 255, 0.432);*/
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.432);
    transform: translate(-2px, -2px);
    transition: transform 0.5s;
   }  